<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/style.css' | relative_url }}"/>
	<script type="text/javascript" src="{{ 'assets/js/unitpngfix.js' | relative_url}}"></script>
</head>
<body>
<div id="main_container">
<div class="me"><img src="{{ 'assets/images/me.jpeg' | relative_url}}" alt="" title="" width="112" height="74"/></div>
	<div id="header">
		<div id="header_logo"><img src="{{ 'assets/images/logo.png' | relative_url}}" border="0" alt="" title="" /></div>
		<div id="vtLogo">
			<img src="images/p1.jpg" width="112" height="74" class="right" alt="" title="" />
			<p>Virginia Tech PhD Student</p>
			<p><a href="http://people.cs.vt.edu/~kafura/">Advisor Dennis Kafura</a></p>
		</div>
		{% include navigation.html %}
	</div>
	
	
	
	<div id="center_content">
	 	{{ content }}
	</div>
	
	<div id="footer">
		<div class="left_footer"><a href="index.html">home</a>| <a href="about.html">about me</a> |<a href="contact.html">contact me</a></div>
		<div class="right_footer"><a href="http://csstemplatesmarket.com"  target="_blank"><img src="{{ 'assets/images/csstemplatesmarket.gif' | relative_url}}" border="0" alt="" title="" /></a>
		</div>
	</div>
</div><!--End main_container-->

</body>
</html>